@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    --bg1: #141419;
    --bg2: #1d1d29;
    --bg3: #3a3a55;
    --bg4: #616a75;
    --tx1: #d2d1c1;
}

* {
    box-sizing: border-box;
    font: 300 16px 'Epilogue', sans-serif;
}

body {
    margin: 0;
    padding: 40px;
    background: var(--bg1);
    color: var(--tx1);
    height: 100vh;
}

h1, .navbar a{font:300 italic 2rem 'Fraunces', serif;}

#gallery-grid {display:grid;grid-template: 1fr 1fr / 1fr .5fr .5fr 2fr 1fr; gap:0 20px;align-items: center; margin-top: 1.5%;}
.gallery-card {position:relative!important; width:100%; display:grid;grid-template-columns:subgrid;grid-column:1/-1;}
.fcgalleries {display: grid;grid-template-columns: 1fr 1fr;gap: 20px;}
.fcavatarsgalleries{grid-column:1/2;}
.fcgifsgalleries{grid-column:2/3;}

#gallery-images {display:flex;flex-wrap: wrap; gap:10px;}
#gallery-images img{object-fit:cover;}
#gallery-images.avatars img{width:250px;height:400px;}
#gallery-images.gifs img{width:200px;height:120px;}

#popup-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    backdrop-filter: blur(15px);
}


#popup {
    position: relative;
    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
    max-width: 50dvw;
    color: var(--tx1);
}

button#popup-agree {
    background: var(--tx1);
    color: var(--bg1);
    font-weight: bold;
    box-shadow: none;
    border: 1px solid var(--bg3);
    padding: 7px 10px;
    cursor:pointer;
    margin-top: 23px;
}