@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    --bg1: #1c181b;
    --bg2: #49708A;
    --bg3: #643759;
    --tx1: #ebebe5;
}

* {
    box-sizing: border-box;
    font: 300 16px 'Epilogue', sans-serif;
}

body {
    margin: 0;
    padding: 40px;
    background: var(--bg1);
    color: var(--tx1);
    height: 100vh;
}

i{font-style:italic;}
b{font-weight:bold;}

h1, .navbar a{font:300 italic 2rem 'Fraunces', serif; letter-spacing: -3px;transition: 700ms ease; font-variation-settings: "wght" 300;text-decoration:none; color:var(--tx1); text-transform:lowercase;text-shadow: var(--tx1) 0px 0px 4px;}

.header-title {display:flex; justify-content:center; align-items:center;gap:4px;}
.header-title *{margin:0;}
.header-title h1{font-size:7em;}
.header-title h2{font-size:5em; font-weight:150; position:relative;top:18px;}
#header p{max-width:500px;text-align:center;margin:0 auto; margin-bottom:2%;}

.navbar a:hover{font-variation-settings: "wght" 400;letter-spacing: -2.5px;}
.navbar a:not(:last-of-type):after{content:'>';padding-left:13px; padding-right:5px;}
.navbar{background:linear-gradient(45deg, color-mix(in srgb,var(--bg2) 100%,transparent),color-mix(in srgb,var(--bg3) 30%,transparent));border: 1px solid var(--bg3); padding:20px;border-radius:10px; margin-bottom:1.5%; display: flex; justify-content: space-between;}

.allfilters{display:flex; align-items:center;}
input#search, #filters button {padding: 10px 15px; background:var(--bg3);border:1px solid var(--bg3); color:var(--tx1);} 
input#search {margin-right: 20px;}
#filters button{text-transform:lowercase;cursor:pointer;}
#filters button:not(:last-of-type,:first-of-type){margin-right:4px;}

#gallery-grid{margin-top: 1.5%;}
.gallery-card{display:grid;grid-template-columns: .8fr .5fr .4fr 1fr .3fr; gap:20px; align-items: center;width:100%;padding:20px;margin-bottom:10px;background:var(--bg2);border-radius:5px;text-transform:lowercase;}

img.cover{width:70px;height:50px;object-fit:cover;margin-left:10px;border-radius:5px; filter:grayscale(1);}
.fcname{font:300 italic 1.2rem 'Fraunces', serif;text-transform:uppercase;}
.fcgalleries {display: grid;grid-template-columns: 1fr 1fr;gap: 20px;}
.fcgalleries a{background:var(--bg3);width:fit-content;padding: 9px 8px 5px 8px;border-radius:3px;text-decoration:none;color:var(--tx1);text-transform: uppercase;font-size: 13px;font-weight: 500;}
.fcavatarsgalleries{grid-column:1/2;}
.fcgifsgalleries{grid-column:2/3;}
.lastupdate{text-align:right;}

#gallery-images {display:flex;flex-wrap: wrap; gap:10px;}
#gallery-images img{object-fit:cover;}
#gallery-images.avatars img{width:250px;height:400px;}
#gallery-images.gifs img{width:200px;height:120px;}

#popup-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    backdrop-filter: blur(15px);
}


#popup {
    position: relative;
    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
    max-width: 50dvw;
    color: var(--tx1);
}

button#popup-agree {
    background: var(--tx1);
    color: var(--bg1);
    font-weight: bold;
    box-shadow: none;
    border: 1px solid var(--bg3);
    padding: 7px 10px;
    cursor:pointer;
    margin-top: 23px;
}